.footer {
    width: 100%;
    padding: 3.125rem 0;
    display: flex;
    flex-direction: column;
    gap: 1.875rem;
    background-color: rgba(231, 236, 255, 1);
}

.footer-top {
    display: flex;
    justify-content: space-between;
    align-items: center;
    max-width: 90%;
    margin: 0 auto;
    padding: 0 8%;
    width: 100%;
}

.footer-text {
    font-family: Roboto;
    font-weight: 400;
    font-size: 14px;
    color: rgba(93, 105, 112, 1);
    margin: 0;
}

.footer-heading {
    font-family: Roboto;
    font-weight: 900;
    font-size: 26px;
    color: rgba(55, 68, 126, 1);
    margin: 0;
}

.btn-footer-purchase-now {
    width: 12rem;
    height: 2.25rem;
    background: rgba(17, 27, 71, 1);
    color: white;
    border: none;
    font-family: Roboto;
    font-weight: 500;
    font-size: 0.875rem;
    border-radius: 2px;
    text-align: center;
    cursor: pointer;
}

/* .btn-footer-purchase-now {
    width: 189px;
    height: 36px;
    font-family: Roboto;
    font-weight: 500;
    font-size: 14px;
    border-radius: 2px;
    margin-right: 20px;
    background: rgba(17, 27, 71, 1);
    color: white;
    border: none;
} */

.footer-line {
    width: 100%;
    height: 1px;
    background: rgba(93, 105, 112, 0.3);
}

.footer-bottom {
    display: flex;
    justify-content: space-between;
    align-items: center;
    max-width: 90%;
    margin: 0 auto;
    padding: 0 8%;
    width: 100%;
}

.footer-group {
    display: flex;
    gap: 1.875rem;
}

.footer-group h3 {
    font-family: Roboto;
    font-weight: 400;
    font-size: 14px;
    color: rgba(80, 95, 152, 1);
    margin: 0;
}

.social-icons {
    display: flex;
    gap: 0.9375rem;
}

.social-icons .icon {
    width: 1rem;
    height: 1rem;
}

@media (max-width: 768px) {
    .footer {
        padding: 2.5rem 5%;
        gap: 1.25rem;
    }

    .footer-top,
    .footer-bottom {
        flex-direction: column;
        gap: 1.25rem;
        padding: 0;
        text-align: center;
        max-width: 100%;
    }

    .footer-group {
        flex-direction: column;
        gap: 0.9375rem;
    }

    .social-icons {
        justify-content: center;
    }

    .btn-footer-purchase-now {
        width: 8.75rem;
        height: 2rem;
        font-size: 0.6875rem;
    }
}